<table class="table">

  <tbody>

    <%shoes.forEach(shoe => { %>
    <tr>
      <th><%=shoe.name %></th>
      <td>image</td>
      <td><%=shoe.stock %></td>
      <td><%=shoe.price %></td>
      <td><a href="/admin/edit/<%=shoe.id %>">Edit</a> | <a href="/admin/delete/<%=shoe.id %>">Delete</a></td>
    </tr>
    <% }) %>

  </tbody>
</table>