<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Stock</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <%shoes.forEach(shoe => { %>
    <tr>
      <th><%=shoe.name %></th>
      <td>image</td>
      <td><%=shoe.stock %></td>
      <td><%=shoe.price %></td>
      <td><a href="/admin/edit/<%=shoe.id %>">Edit</a> | <a href="/admin/delete/<%=shoe.id %>">Delete</a></td>
    </tr>
    <% }) %>

  </tbody>
</table>